<mat-card>
    <mat-card-header>
      <mat-card-title>Cadastro de Clientes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (submit)="Salvar()">
          <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input matInput 
              [(ngModel)]="fornecedor.nome"
              type="text"
              [ngModelOptions]="{standalone: true}"
              required="true"
            >
            <mat-error *ngIf="validation">{{validation.nome}}</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <mat-label>Cnpj</mat-label>
              <input matInput
              [(ngModel)]="fornecedor.cnpj"
              type="text"
              [ngModelOptions]="{standalone: true}"
              required="true"
              >
              <mat-error *ngIf="validation">{{validation.cnpj}}</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <mat-label>Endereço</mat-label>
              <input matInput
              [(ngModel)]="fornecedor.endereco"
              type="text"
              [ngModelOptions]="{standalone: true}"
              required="true"
              >
              <mat-error *ngIf="validation">{{validation.endereco}}</mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <mat-label>Telefone</mat-label>
              <input matInput
              [(ngModel)]="fornecedor.telefone"
              type="text"
              [ngModelOptions]="{standalone: true}"
              required="true"
              >
              <mat-error *ngIf="validation">{{validation.telefone}}</mat-error>
          </mat-form-field>  
          <button mat-raised-button color="primary" [type]="'submit'" >Cadastrar</button>
      </form>
    </mat-card-content>
  </mat-card>